:root {
  --primary: #6B8E23;
  --primary-foreground: #ffffff;

  --background: #ffffff;
  --foreground: #111827;

  --card: #ffffff;
  --card-foreground: #111827;

  --border: #d1d5db;
}

.dark {
  --primary: #a78bfa;
  --primary-foreground: #111827;

  --background: #111827;
  --foreground: #ffffff;

  --card: #1f2937;
  --card-foreground: #ffffff;
}

/* strong, b {
  color:#6B8E23; 
  font-weight:bolder      
} */